<!-- Side Bar
================================================== -->
<aside>
  <nav>
    <ul class="nav">
      <li class="selected">
        <a href="javascript:void(0);" id="overview"><i class="icon-dashboard"></i> Dashboard</a>
      </li>
      <li>
        <a href="javascript:void(0);" id=""><i class="icon-font icon-white" ></i> Info</a> </li>
      </li>
      <li>
        <a href="javascript:void(0);" id=''><i class="icon-table icon-white"></i> Parameters</a>
      </li>
      <li>
        <a href="javascript:void(0);" id=""><i class="icon-cogs icon-white"></i> More Parameters</a>
      </li>
      <li>
        <a href="javascript:void(0);" id=""><i class="icon-group icon-white"></i> Configuration</a>
      </li>
      <li>
        <a href="javascript:void(0);" id=""><i class="icon-beaker icon-white"></i> Info</a>
      </li>
    </ul>
  </nav>
</aside>
